.blog {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  padding: 90px 0 30px;
}

.blog__list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  gap: 40px;
}

.blog__list-item {
}

.blog__list-title {
  font-size: 26px;
  line-height: 1.35;
  font-weight: 700;
  color: #34558b;
}

.blog__list-item span {
  font-size: 10px;
  letter-spacing: 1px;
  color: #00000080;
  font-weight: 700;
}

.blog__list-img {
  display: flex;
  aspect-ratio: 10/8;
  margin: 0 0 20px;
}

.blog__list-img img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.blog__list-text {
}

.podcast {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 0 120px;
}

.podcast__banner {
  width: 100%;
  margin: 30px 0px 30px;
}

.podcast__title {
  width: 100%;
  font-size: 32px;
  line-height: 28px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 0 70px;
}

.podcast__banner img {
  width: 100%;
}

.podcast__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  gap: 90px;
}

.podcast__list-item {
}

.news-block {
  width: 100%;
  padding: 30px 0px 135px;
}

.news-block__wrap {
  width: 100%;
  max-width: 620px;
  margin: 0 auto;
  background-color: #f0f0f0;
  padding: 32px 30px 35px;
  min-height: 300px;
}

.feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f0f0f0;
  padding: 75px 30px 90px;
}

.feedback__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 630px;
}

.feedback__wrap {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
  flex-direction: row;
}

.feedback__title {
  font-size: 48px;
  line-height: 1.23;
  font-weight: 700;
  color: #34558b;
  margin: 0 0 74px;
  text-align: center;
}

@media (max-width: 1000px) {
  .blog__list {
    grid-template-columns: 1fr;
  }

  .feedback__wrap {
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .news-block__wrap {
    padding: 25px 20px 25px;
  }

  .feedback__title {
    font-size: 30px;
    margin: 0 0 24px;
  }

  .feedback {
    padding: 75px 20px 90px;
  }
}
