.blog {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  padding: 90px 0 30px;
}

.blog__list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  gap: 40px;
}

.blog__list-item {
}

.blog__list-title {
  font-size: 26px;
  line-height: 1.35;
  font-weight: 700;
  color: #34558b;
}

.blog__list-item span {
  font-size: 10px;
  letter-spacing: 1px;
  color: #00000080;
  font-weight: 700;
}

.blog__list-img {
  display: flex;
  aspect-ratio: 10/8;
  margin: 0 0 20px;
}

.blog__list-img img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.blog__list-text {
}

@media (max-width: 1000px) {
    .blog__list {
        grid-template-columns: 1fr;
    }
}