.navbar-toggler {
  padding: 0;
}

.navbar-brand {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  padding: 5px 0px 0px;
}

.navbar-toggler span {
  display: block;
  background-color: #4f4f4f;
  height: 3px;
  width: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  left: 0;
  opacity: 1;
  transition: all 0.35s ease-out;
  transform-origin: center left;
}

.navbar-toggler span:nth-child(1) {
  transform: translate(0%, 0%) rotate(0deg);
}

.navbar-toggler span:nth-child(2) {
  opacity: 1;
}

.navbar-toggler span:nth-child(3) {
  transform: translate(0%, 0%) rotate(0deg);
}

.navbar-toggler span:nth-child(1) {
  margin-top: 0.3em;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  transform: translate(15%, -33%) rotate(45deg);
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  opacity: 0;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  transform: translate(15%, 33%) rotate(-45deg);
}

.navbar-toggler span {
  background-color: #fff;
}

.navbar-collapse {
  width: 100%;
  top: 72px;
  position: absolute;
  background-color: #fff;
}

.accordion {
  list-style: none;
}

.accordion-button {
  font-size: 26px;
  line-height: 1.35;
  font-weight: 700;
  color: #34558b;
}

.accordion-item {
  border: none;
  border-top: 1px solid #eee;
}

.accordion-item:not(:first-of-type) {
  border-top: 1px solid #eee;
}

.accordion-item:last-child {
  border-bottom: 1px solid #eee;
}

.accordion-button:not(.collapsed) {
  background-color: #fff;
  color: #34558b;
}
