.courses {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  padding: 90px 0 30px;
}

.rubric {
  display: flex;
  width: 100%;
  padding: 50px 0px 80px;
}

.rubric__list {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.rubric__list-item {
  display: flex;
  min-height: 147px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 10px 0px;
  padding: 30px 30px 20px;
  transition: 0.25s;
}

.rubric__list-item:hover {
  box-shadow: 0px 10px 10px 0px rgb(0 0 0 / 10%);
}

.rubric__list-item a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.rubric__list-item_blue-text {
  color: #1e96e6;
  font-weight: 400;
  font-size: 16px;
}

.rubric__list-item_blue-text:after {
  content: "\00a0→";
  font-family: Arial, Helvetica, sans-serif;
}

.information {
  width: 100%;
  display: flex;
  padding: 105px 0px 60px;
}

.information__cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 40px;
}

.information__title {
  font-size: 48px;
  line-height: 1.23;
  font-weight: 700;
  color: #34558b;
}

.information__text-blue {
  color: rgb(4, 85, 139);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.55;
  opacity: 0.5;
  margin: 0 0 30px;
}

.information__text {
  font-size: 22px;
  line-height: 1.55;
}

.answers {
  padding: 75px 0px 60px;
}

/*products*/
.products {
  width: 100%;
}

.products__list {
  list-style: none;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.products__list-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%);
  transition: box-shadow 0.2s ease 0s, background-color 0.2s ease 0s;
  position: relative;
  cursor: pointer;
}

.products__list-item:hover {
  background-color: rgba(0, 0, 0, 0.04);
  box-shadow: 0 5px 20px 0 rgb(0 0 0 / 10%);
}

.products__list-item-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 20px 16px 16px 22px;
}

.products__list-item-top {
  width: 100%;
}

.products__list-item-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.products__list-item-image {
  width: 100%;
  display: flex;
}

.products__list-item-image img {
  width: 100%;
}

.products__list-item-title {
  font-size: 20px;
  min-height: 1.3em;
  color: #000;
  font-weight: 600;
  font-family: "Root UI", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", Arial, sans-serif;
}

.products__list-item:hover .products__list-item-title {
  color: #1c1cdb;
}

.tabs__content-description {
  display: flex;
  font-size: 16px;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.products__list-item-text {
  margin: 0;
  color: #757575;
}

.products__list-item-price {
  width: 100%;
  font-size: 22px;
  margin-bottom: 8px;
}

.products__list-item-flag {
  padding: 0.1em 0.5em 0;
  position: absolute;
  top: 10px;
  right: 0;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
}

.flag-blue {
  background-color: rgb(82, 113, 255);
}

.flag-red {
  background-color: rgb(237, 14, 14);
}

.flag-pink {
  background-color: rgb(241, 17, 215);
}
