@media (max-width: 1000px) {
    main {
        padding: 72px 0 0;
    }

    .header-desktop {
        display: none;
    }

    .header-mobile {
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 100%;
        z-index: 100;
    }

    .logo-wrap {
        margin: 15px 0;
    }
}