/*SLIDER*/
.slick-track {
  display: flex;
}
.slick-list {
  overflow: hidden;
}
.slider {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
}

.slider-block {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 75px 0 60px;
}

.title-slider {
  text-transform: uppercase;
  margin: 0 0 90px;
}

.slider .slider__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider .slider__item-title {
  font-size: 18px;
  line-height: 1.35;
  font-weight: 700;
  color: #34558b;
  text-transform: uppercase;
  margin: 18px 0px 20px;
}

.slider .slider__item-img img {
  width: 100%;
}

.slider__item-btn {
  min-height: 45px;
  font-size: 14px;
  color: #ffffff;
  background-color: #ed0e0e;
  border-radius: 5px;
  font-weight: 700;
  min-width: 150px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  cursor: pointer;
  transition: 0.25s;
}
.slider .slick-arrow:hover {
  opacity: 0.8;
}
.slider .slick-arrow.prev {
  left: 0;
  width: 40px;
  height: 40px;
  background-color: #000;
  border-radius: 100%;
}
.slider .slick-arrow.next {
  right: 0;
  width: 40px;
  height: 40px;
  background-color: #000;
  border-radius: 100%;
}
