@font-face {
  font-family: "CirceRounded";
  font-style: bold;
  font-weight: 700;
  src: url("/fonts/CirceRounded-Regular3.woff") format("woff");
}

@font-face {
  font-family: "CirceRounded";
  font-style: bold;
  font-weight: 500;
  src: url("/fonts/CirceRounded-Regular4.woff") format("woff");
}

@font-face {
  font-family: "CirceRounded";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/CirceRounded-Regular.woff") format("woff");
}

html,
body {
  height: 100%;
  margin: 0;
  color: #000;
  font-family: "CirceRounded", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  width: 100%;
}

footer {
  width: 100%;
  background-color: #34558b;
}

main {
  flex: 1 1 auto;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
}

/* .main-title {
  font-size: 30px;
  line-height: 1.23;
  font-weight: 700;
  color: #34558b;
} */

.main-subtitle {
  display: flex;
  width: 100%;
  font-size: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  line-height: 1.23;
  font-weight: 700;
  color: #34558b;
  margin: 0 0 40px;
  text-transform: uppercase;
}

.btn {
  color: rgb(255, 255, 255);
  border: 2px solid rgb(237, 14, 14);
  background-color: rgb(237, 14, 14);
  border-radius: 10px;
  min-height: 60px;
  min-width: 305px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.description {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.5;
  margin: 0 0 105px;
}

.nav {
  width: 100%;
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 40px 0px;
  justify-content: space-between;
  align-items: center;
}

.nav__item {
  font-weight: 700;
  text-transform: uppercase;
}

.logo-wrap {
  margin: 0px 65px;
}

/*OFFER*/

.offer {
  width: 100%;
  padding: 65px 0px;
}

.offer__content {
  width: 100%;
  display: flex;
  align-items: center;
}

.offer__text-block {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.offer__title {
  font-size: 28px;
  font-weight: 700;
  color: #34558b;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.offer__subtitle {
  font-size: 34px;
  font-weight: 500;
  letter-spacing: 2.5px;
  margin-bottom: 28px;
  text-transform: uppercase;
}

.offer__text {
  font-size: 24px;
  text-transform: uppercase;
}

.offer__img {
  display: flex;
  justify-content: center;
  width: 50%;
}

/*FOOTER*/

.footer__content {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 2fr 130px;
  align-items: center;
  gap: 60px;
  padding: 40px 0px;
}

.footer__list {
  width: 100%;
  display: flex;
  list-style: none;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer__list-item {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
}

.footer__btn {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  align-items: center;
}

.paragraf {
  color: #fff;
  line-height: 1.35;
  font-size: 14px;
  font-weight: 700;
}

/*MARQUEE-BLOCK*/

.marquee-block {
  overflow: hidden;
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  background-color: rgb(44, 90, 252);
  height: 70px;
}

.marquee-block__content {
  font-size: 22px;
  color: #fff;
  white-space: nowrap;
  animation: marquee 8s linear infinite;
}

.marquee-block__content {
  left: 100%;
}

.marquee-block__content:after {
  content: "Программы, которые работают⠀•⠀Программы, которые работают⠀•⠀Программы, которые работают⠀•⠀Программы, которые работают⠀•⠀Программы, которые работают⠀•⠀";
}

.marquee-block__content_two {
  font-size: 22px;
  color: #fff;
  white-space: nowrap;
  animation: marquee 8s linear infinite;
}

.marquee-block__content_two {
  left: 100%;
}

.marquee-block__content_two {
  left: 100%;
}

.marquee-block__content_two:after {
  content: "Хватит мечтать, пора делать⠀•⠀Хватит мечтать, пора делать⠀•⠀Хватит мечтать, пора делать⠀•⠀Хватит мечтать, пора делать⠀•⠀Хватит мечтать, пора делать⠀•⠀";
}

@keyframes marquee {
  to {
    transform: translateX(-10%);
  }
}

/*NUMBERS-BLOCK*/

.numbers-block {
  width: 100%;
  display: flex;
  padding: 30px 0px;
}

.numbers-block__list {
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.numbers-block__list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.numbers-block__list-number {
  font-size: 52px;
  line-height: 1.23;
  font-weight: 700;
  color: #34558b;
  padding: 0 0 20px;
}

.numbers-block__list-text {
  width: 100%;
  font-size: 20px;
  line-height: 1.55;
  font-weight: 400;
  border-top: 1px solid #cccccc;
  text-transform: uppercase;
  padding: 20px 0 0;
}

/*CARDS*/

.cards {
  width: 100%;
  display: flex;
  padding: 0 0 15px;
}

.cards__list {
  width: 100%;
  display: grid;
  list-style: none;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.cards__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #34558b;
  padding: 35px 25px 48px;
}

.cards__list-title {
  font-size: 26px;
  color: #fff;
  margin: 0 0 28px;
  text-transform: uppercase;
}

.cards__list-img {
  display: flex;
  width: 100px;
  height: 100px;
  margin: 0 0 30px;
}

.cards__list-img img {
  width: 100%;
}

.cards__list-text {
  color: #fff;
  font-size: 20px;
  line-height: 25px;
}

/*BLOCK-WITH-POINTS*/

.block-with-points {
  width: 100%;
  display: flex;
  padding: 60px 0 30px;
}

.block-with-points__content {
  display: flex;
  width: 100%;
  align-items: flex-start;
  gap: 60px;
}

.block-with-points__info {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block-with-points__title {
  font-size: 36px;
  margin: 0px 0px 20px;
  color: #04558b;
  text-align: center;
  line-height: 1.23;
  text-transform: uppercase;
}

.block-with-points__text {
  font-size: 26px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
}

.block-with-points__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 23px;
  margin: 60px 0 50px;
}

.block-with-points__list-item {
  display: flex;
  align-items: flex-start;
}

.block-with-points__list-icon {
  width: 20px;
  min-width: 20px;
  height: 20px;
  margin: 0 20px 0 0;
}

.block-with-points__list-text {
  font-size: 22px;
  line-height: 1.55;
}

.block-with-points__img {
  display: flex;
  width: 60%;
  border-radius: 6px;
  overflow: hidden;
}

.block-with-points__img img {
  width: 100%;
}

/*BENEFITS*/

.benefits {
  width: 100%;
  display: flex;
  padding: 30px 0 40px;
}

.benefits__cols {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 30px;
}

.benefits__cols-img {
}

.benefits__cols-img img {
  width: 100%;
}

.benefits__list {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.benefits__list-item {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.benefits__list-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: right;
}

.benefits__list-text_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}

.benefits__list-text span,
.benefits__list-text_left span {
  font-size: 24px;
  line-height: 1.35;
  font-weight: 700;
  color: #34558b;
}

.benefits__list-text p,
.benefits__list-text_left p {
  font-size: 20px;
  line-height: 1.55;
  margin: 10px 0 0;
}

.benefits__list-icon {
  min-width: 50px;
}

/*PARTNERS*/

.partners {
  width: 100%;
  display: flex;
  padding: 60px 0px;
}

.partners__content {
  width: 100%;
}

.partners__list {
  list-style: none;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
}

.partners__list-item {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #eee;
  height: 100%;
}

.partners__list-item:last-child {
  border-right: none;
}

.partners__list-logo {
  width: 100px;
}

.partners__list-logo img {
  width: 100%;
}

.partners__actions {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 45px 0 0;
}

/*QUOTE*/

.quote {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  padding: 60px 0 60px;
  background-color: #34558b;
}

.quote__text {
  font-size: 42px;
  line-height: 1.23;
  color: #fff;
  font-weight: 700;
}

/*INFO-BLOCK*/

.info-block {
  width: 100%;
  display: flex;
}

.info-block__content {
  display: flex;
  width: 100%;
  align-items: flex-start;
}

.info-block__info {
  padding: 60px 0 60px;
}

.info-block__title {
  font-size: 26px;
  line-height: 1.23;
  font-weight: 700;
  color: #34558b;
  list-style-position: inside;
  margin: 0 0 8px;
}

.info-block__description {
  font-size: 20px;
  color: rgb(10, 10, 10);
  font-weight: 700;
  margin: 0 0 28px;
}

.info-block__text {
  display: flex;
  flex-direction: column;
  list-style-position: inside;
  font-size: 18px;
  gap: 30px;
}

.info-block__group {
  font-size: 18px;
  margin: 30px 0 0;
}

.info-block__img {
}

.info-block__img img {
  width: 100%;
}

.social-mini {
  display: flex;
  list-style: none;
  gap: 8px;
  margin: 40px 0 0;
}

/*SOCIAL*/

.social {
  width: 100%;
  display: flex;
}

.social__list {
  display: grid;
  width: 100%;
  list-style: none;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.social__list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.item-vk {
  background-color: #48729e;
}

.item-tg {
  background-color: #0088cc;
}

.item-inst {
  background-color: #5851db;
}

.item-youtube {
  background-color: #e62117;
}

.item-twitter {
  background-color: #00aced;
}

.item-ok {
  background-color: #ff9f4d;
}
